.contenido-fondo {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 40px auto;
    max-width: 600px; /* Reducimos el ancho para que la caja no sea gigante */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-title {
    font-size: 28px;
    color: #333;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #7ed9c7;
}

.legal-text {
    font-size: 13px;
    text-align: center;
    color: #666;
    line-height: 1.4;
}

.legal-text a {
    color: #000;
    text-decoration: underline;
}

.botones-accion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.btn {
    padding: 12px;
    border: 2px solid #333;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-atras {
    background-color: #8faeb0;
    color: #fff;
    border-color: #8faeb0;
}
.btn-continuar {
    background-color: #7ed9c7;
    color: #fff;
    border-color: #7ed9c7;
}

.boton-registro {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-registro {
    background-color: #fff;
    color: #333;
    width: 100%;
    border: 2px solid #7ed9c7;
}

.btn-registro:hover {
    background-color: #7ed9c7;
    color: white;
}
